# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

#Zip File
innoviseIt_new_build1.zip
innoviseIt_new_build2.zip
innoviseIt_new_build3.zip
innoviseIt_new_build4.zip
innoviseIt_new_build5.zip
innoviseIt_new_build6.zip
innoviseIt_new_build7.zip
innoviseIt_new_build8.zip
innoviseIt_new_build9.zip
innoviseIt_new_build10.zip
innoviseIt_new_build11.zip
innoviseIt_new_build12.zip
innoviseIt_new_build13.zip
innoviseIt_new_build14.zip
innoviseIt_new_build15.zip



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
innoviseIt.file1.zip
